  <h3>{{list.title}}</h3>
  <h5>{{list.creator}}</h5>
  <p>
    {{list.description}}
  </p>
  <ul>
    {{#each list.items as |item| }}
      <li>{{item.title}}</li>
    {{/each}}
    {{#unless session.newRecord}}
    <li><form class="" action="index.html" method="post">
      + [new-item-form]
    </form></li>
    {{/unless}}
  </ul>
