<ul class="lists">
{{#each model as |list|}}
  {{list-index list=list session=session}}
{{/each}}
  <li>
    {{#unless session.newRecord}}
    <form class="" action="index.html" method="post">
    + New List Form
    </form>
    {{/unless}}
  </li>
</ul>
