$st-blu: #266a90;
$st-wht: #fff;
$st-light: #bbb;
$st-drk: #0f010f;
$st-hilite: hsl(80, 57%, 35%);

$shadow: '0 10px 10px #{$st-drk}';

body {
  font-family: 'Verdana', sans-serif;
  font-size: 20px;
  color: $st-drk;
  background: $st-blu;
  color: $st-wht;
  > h1, .user-functions {
    width: auto;
    position: absolute;
  }
  .user-functions {
    right: 0;
    font-size: 0.5em;
  }

  > h1 {
    font-size: 3em;
    text-shadow: #{$shadow};
    line-height: 1em;
  }
}


.lists {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  background: linear-gradient(0deg, $st-drk, transparent);

  .list {
    flex: content;
    padding: 1px 10px;
    margin: auto;
    text-shadow: #{$shadow};

    h3 {
      font-weight: bold;
      padding: 5px;
      font-size: 2em;
    }

    h5 {
      font-weight: bold;
      font-size: 0.5em;
    }
    ul li {
      color: $st-wht;
    }
  }
}
