$st-blu: #266a90;
$st-wht: #fff;
$st-drk: #0f010f;
$st-hilite: hsl(80, 57%, 35%);

// body {
//   background: $st-blu;
//   color: $st-wht;
//
//   font-family: sans-serif;
// }
// h1 {
//   border: 0.2em solid $st-wht;
//   font-size: 6em;
//   text-transform: lowercase;
//   font-weight: 900;
//   background: $st-blu;
//   -webkit-transition: all 0.4s;
//   transition: all 0.4s;
//   color: $st-wht;
//   text-align: center;
//   box-shadow: 0 0 0 $st-hilite inset;
//
//   &:hover {
//     box-shadow: 0 2em 0 $st-hilite inset;
//   }
// }
// h3 {
//   font-size: 3em;
// }
